.Heading {
    padding: 15px;
    display: flex;
    justify-content: center;
    background: url"https://i.pinimg.com/originals/ed/34/b0/ed34b0fe6f167933c0412d7f0ae4135d.gif";
}

.AboutMe {
    display: flex;
    justify-content: center;
}

.E1T1 {
    display: flex;
    justify-content: space-around;
}

iframe {
    padding: 10px;
}

img {
    width: 20px;
    height: 10px;
    display: flex;
    justify-content: center;
}